@import url('https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&display=swap');


body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  background-size: 1000px;
  background-image: url("https://www.colorhexa.com/f4e4c9.png");
  background-position: center center;
}

.paper {
  background-image: url("https://www.shutterstock.com/image-vector/grid-square-graph-line-full-600nw-1362896384.jpg");
  background-size: 500px;
  background-position: center center;
  padding: 20px 100px;
  /*  min-width: 800px; */

  transform: rotateZ(-5deg);
  box-shadow: 1px 15px 20px 0px rgba(0, 0, 0, 0.5);

  position: absolute;
}

.paper.heart {
  position: relative;
  width: 200px;
  height: 200px;
  padding: 0;
  border-radius: 50%;
}

.paper.image {
  padding: 20px;
}

.paper.image p {
  font-size: 30px;
}

img {
  max-height: 200px;
  width: 50%;
  user-select: none;

  display: block;
  margin: 0 auto;
}

.paper.heart::after {
  content: "";
  background-image: url('https://static.vecteezy.com/system/resources/thumbnails/019/016/921/small/i-love-you-free-png.png');
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: 150px;
  background-position: center center;
  background-repeat: no-repeat;
  opacity: 0.6;
}

p {
  font-family: 'Love Ya Like A Sister';
  font-size: 50px;
  color: rgb(0, 0, 100);
  opacity: 0.75;
  user-select: none;
  font-style: normal;

  /* filter: drop-shadow(2px 1.5px 1px rgba(0,0,105,0.9)); */
}


.paper.sigma {
  position: relative;
  width: 100px;
  height: 100px;
  padding: 0;
}

.paper.sigma::after {
  content: "";
  background-image: url('images/sigma.jpg');
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: 150px;
  background-position: center center;
  background-repeat: no-repeat;
  opacity: 0.6;
}
